@{
    ViewData["Title"] = "Invalid Session";
}


<div class="text-center">
    <h2 class="text-danger">Invalid Session Login Again.</h2>
    <h1 class="display-4">Welcome to Movies App</h1>
    <p>Check out movie ratings instantly. <a class="page-link" asp-area="" asp-controller="Home" asp-action="Login">Login Now</a></p>
</div>