
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="text-center">
    <h1 class="display-3">Welcome User, to Movies App</h1>
    <h1 class="text-secondary">You are now signed in.</h1>
</div>
